<li>
	<%= link_to gravatar_for(user, size: 50), user %>
	<%= link_to user.name , user %>
	<% if current_user.admin? && !current_user?(user) %>
		 | <%= link_to "delete", user, method: :delete,
																data: { confirm: "you sure?" } %>	

	<% end %> 
</li>