<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= render partial: 'shared/shim' %>
  </head>
	<body>
			<%= render partial: 'shared/header' %>
			<div class= "container">
				<% flash.each do |message_type, message| %>
					<div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
			<%= yield %>
			<%= render partial: 'shared/footer' %>
			<%= debug(params) if Rails.env.development? %>
			</div>

  </body>
</html>
